.listitem{
    width: 310px;
    height: 300px;
    margin-right: 5px;
    margin-left: 10px;
    cursor: pointer;
    
    
    img{
        margin-left: 4px;
        margin-top: 10px;
        width: auto;
        height: auto;
        object-fit: cover;
    }
    p{
        margin: 7px;
        text-align: center;
    }
    .product{
        color: black;
        font-size: 14px;
        font-weight: 300;
    }
    .price{
        color: green;
        font-size: 16px;
        font-weight: 200;
    }
    .brand{
        color: #b2b2b2;
        font-size: 14px;
    }
}