.card5{
    width: 220px;
    height: 295px;
    position: absolute;
    margin-left: 1295px;
    background-image: url(https://rukminim1.flixcart.com/fk-p-flap/278/278/image/7593e7b6640822c1.jpg?q=90);
    background-position: bottom;
    background-repeat: no-repeat;
    

    .text{
        margin: auto;
        margin-top: 30px;
        height: 100px;
        width: 200px;
        font-size: 30px;
        text-align: center;
        
    }
    .btn{
        margin: auto;
        margin-top: 15px;
        height: 40px;
        width: 200px;
    }
    .button{
        width: 80px;
        height: 35px;
        margin: auto;
        margin-left: 60px;
        background-color: #2874f0;
        color: white;
        border: none;
    }
}